AccountsData/**
cache**/**
.ipynb_checkpoints
**.code-workspace
accounts_data/**
**.json
**/__pycache__/**
.pytest_cache/**
**/test_cache/**
**.csv
**.ipynb
**.ini
**.temp
**.tmp
validation/**
**egg-info/**
/**.py